<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a post</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/createRant" method="post">
        {% csrf_token %}
        <p>Post your message here:</p>
        <textarea name="rant" id="" cols="30" rows="10"></textarea>
        <p><input type="submit" value="Add"></p>
    </form>
</body>
</html>